<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @notice.name %>
</p>

<p>
  <strong>Pknoticekey:</strong>
  <%= @notice.pkNoticeKey %>
</p>

<%= link_to 'Edit', edit_notice_path(@notice) %> |
<%= link_to 'Back', notices_path %>
