<p id="notice"><%= notice %></p>

<p>
  <strong>Incident Number:</strong>
  <%= @incident.id %>
</p>

<p>
  <strong>Incident Date and Time:</strong>
  <%= @incident.incidentDateTime %>
</p>

<p>
  <strong>Permit Number:</strong>
  <%= @incident.permitNum %>
</p>
<p>
  <strong>Alarm Type:</strong>
  <%= @incident.alarmType %>
</p>
<p>
  <strong>Address:</strong>
  <%= @incident.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @incident.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @incident.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @incident.zip %>
</p>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
