<p id="notice"><%= notice %></p>

<p>
  <strong>Property Num:</strong>
  <%= @property.id %>
</p>

<p>
  <strong>Propertyname:</strong>
  <%= @property.propertyName %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @property.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @property.zip %>
</p>

<p>
  <strong>Fkacctowner:</strong>
  <%= @property.fkAcctOwner %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
