<p id="notice"><%= notice %></p>

<h1>Listing Permits</h1>

<table>
  <thead>
    <tr>
      <th>Permitnum</th>
      <th>Permitstartdate</th>
      <th>Permitexpdate</th>
      <th>Fkpropertykey</th>
      <th>Fkalarmkey</th>
      <th>Fkuserkey</th>
      <th>Fkpaymentkey</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permits.each do |permit| %>
      <tr>
        <td><%= permit.permitNum %></td>
        <td><%= permit.permitStartDate %></td>
        <td><%= permit.permitExpDate %></td>
        <td><%= permit.fkPropertyKey %></td>
        <td><%= permit.fkAlarmKey %></td>
        <td><%= permit.fkUserKey %></td>
        <td><%= permit.fkPaymentKey %></td>
        <td><%= link_to 'Show', permit %></td>
        <td><%= link_to 'Edit', edit_permit_path(permit) %></td>
        <td><%= link_to 'Destroy', permit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permit', new_permit_path %>
<a href=http://localhost:3000/Home>Back</a>
