<p id="notice"><%= notice %></p>

<p>
  <strong>Paymentnum:</strong>
  <%= @payment.id %>
</p>
<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Paymentdatetime:</strong>
  <%= @payment.paymentDateTime %>
</p>

<p>
  <strong>Paymenttype:</strong>
  <%= @payment.paymentType %>
</p>

<p>
  <strong>Fkpropertykey:</strong>
  <%= @payment.fkPropertyKey %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
