<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Paymentdatetime:</strong>
  <%= @payment.paymentDateTime %>
</p>

<p>
  <strong>Paymenttype:</strong>
  <%= @payment.paymentType %>
</p>

<p>
  <strong>Fkactionkey:</strong>
  <%= @payment.fkActionKey %>
</p>

<p>
  <strong>Fkcitationkey:</strong>
  <%= @payment.fkCitationkey %>
</p>

<p>
  <strong>Fkpropertykey:</strong>
  <%= @payment.fkPropertyKey %>
</p>

<p>
  <strong>Fkalarmkey:</strong>
  <%= @payment.fkAlarmKey %>
</p>

<p>
  <strong>Fkuserkey:</strong>
  <%= @payment.fkUserKey %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
