<p id="notice"><%= notice %></p>

<h1>Listing Temptables</h1>

<table>
  <thead>
    <tr>
      <th>F name</th>
      <th>Emp number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temptables.each do |temptable| %>
      <tr>
        <td><%= temptable.f_name %></td>
        <td><%= temptable.emp_number %></td>
        <td><%= link_to 'Show', temptable %></td>
        <td><%= link_to 'Edit', edit_temptable_path(temptable) %></td>
        <td><%= link_to 'Destroy', temptable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temptable', new_temptable_path %>
